# TODO: customize your own LLM API keys
# - dashscope:
DASHSCOPE_API_KEY="*"
# - deepseek:
DEEPSEEK_API_KEY="*"
# - ollama:
OLLAMA_API_KEY="ollama"
# - openai:
OPENAI_API_KEY="*"
# - gemini:
GOOGLE_API_KEY="*"

# LLM models
# Basic usage: https://help.aliyun.com/zh/model-studio/developer-reference/deepseek
# Multi-round chat: https://api-docs.deepseek.com/zh-cn/guides/multi_round_chat/
# - deepseek
LLM_DEEPSEEK_MODEL="deepseek-chat"
LLM_DEEPSEEK_ENTRYPOINT="https://api.deepseek.com"

# - dashscope
# tutorial: https://github.com/dashscope/dash-cookbook
# models: https://www.alibabacloud.com/help/en/model-studio/compatibility-of-openai-with-dashscope?spm=a2c63.p38356.help-menu-2400256.d_2_4_0.4ed41916spe8IL
LLM_DASHSCOPE_MODEL="qwen-plus"
LLM_DASHSCOPE_ENTRYPOINT="https://dashscope-intl.aliyuncs.com/compatible-mode/v1"

# - openai
LLM_OPENAI_MODEL="gpt-4o"
LLM_OPENAI_ENTRYPOINT="https://api.openai.com/v1"

# - ollama: qwen3:14b, deepseek-r1:14b, etc.
LLM_OLLAMA_ENTRYPOINT="http://127.0.0.1:11434"
LLM_OLLAMA_MODEL="qwen3:32b"
